
@{
    ViewBag.Title = "Education";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!--inline CSS-->
<style>
    textarea {
        resize: none;
    }

    #margin-top {
        margin-top: 10px;
    }
</style>

<!--on the case of Modal close-->
<script>
    $(document).ready(function () {
        $('#educationModel').on('hidden.bs.modal', function () {
            $('#startDateId').val("");
            $('#startDateError').text("");
            $("#leaveDateId").val("");
            $("#leaveDateError").text("");
            $('#levelId').val("");
            $('#levelError').text("");
            $('#collegeNameId').val("");
            $('#collegeNameError').text("");
            $('#collegeAddressId').val("");
            $('#collegeAddressError').text("");
            $('#collegeIntroductionId').val("");
            $('#collegeIntroductionError').text("");
        });

        $("#startDateId").on('input', function () {
            $('#startDateError').text("");
        });

        $("#leaveDateId").on('input', function () {
            $('#leaveDateError').text("");
        });

        $("#levelId").on('input', function () {
            $('#levelError').text("");
        });

        $("#collegeNameId").on('input', function () {
            $('#collegeNameError').text("");
        });

        $("#collegeAddressId").on('input', function () {
            $('#collegeAddressError').text("");
        });

        $("#collegeIntroductionId").on('input', function () {
            $('#collegeIntroductionError').text("");
        });

    });
</script>

<button type="button" class="btn btn-info" onclick="addEducation();" style="margin-left:5px; ">Add</button>

<!-- Modal -->
<div class="modal fade" id="educationModel" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="modalTitle">Add Education</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-2">
                        @Html.Label("Start Date")
                    </div>
                    <div class="col-md-10">
                        <textarea rows="3" id="startDateId" class="form-control"></textarea>
                        <span class="text-danger" id="startDateError"></span>
                    </div>
                </div>
                <div class="row" id="margin-top">
                    <div class="col-md-2">
                        @Html.Label("Leave Date")
                    </div>
                    <div class="col-md-10">
                        <textarea rows="3" id="leaveDateId" class="form-control"></textarea>
                        <span class="text-danger" id="leaveDateError"></span>
                    </div>
                </div>
                <div class="row" id="margin-top">
                    <div class="col-md-2">
                        @Html.Label("Level")
                    </div>
                    <div class="col-md-10">
                        <textarea rows="3" id="levelId" class="form-control"></textarea>
                        <span class="text-danger" id="levelError"></span>
                    </div>
                </div>
                <div class="row" id="margin-top">
                    <div class="col-md-2">
                        @Html.Label("College Name")
                    </div>
                    <div class="col-md-10">
                        <textarea rows="3" id="collegeNameId" class="form-control"></textarea>
                        <span class="text-danger" id="collegeNameError"></span>
                    </div>
                </div>
                <div class="row" id="margin-top">
                    <div class="col-md-2">
                        @Html.Label("college Address")
                    </div>
                    <div class="col-md-10">
                        <textarea rows="3" id="collegeAddressId" class="form-control"></textarea>
                        <span class="text-danger" id="collegeAddressError"></span>
                    </div>
                </div>
                <div class="row" id="margin-top">
                    <div class="col-md-2">
                        @Html.Label("college Introduction")
                    </div>
                    <div class="col-md-10">
                        <textarea rows="3" id="collegeIntroductionId" class="form-control"></textarea>
                        <span class="text-danger" id="collegeIntroductionError"></span>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="saveBtnId" onclick="saveeducation();">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- Modal content-->
    </div>
</div>
<!--Modal-->

<div>
    <table id="education" class="display">
        <thead>
            <tr>
                <th>Start Date </th>
                <th>Leave Date</th>
                <th>level</th>
                <th>College Name</th>
                <th>Address </th>
                <th>College Introduction</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>


<script>
    var dataSource = [];

    jQuery(function ($) {
        $.ajax({
            type: 'get',
            url: '/api/Profile/Education',
            success: function (response) {
                dataSource = response;
                $('#education').DataTable({
                    "ajax": {
                        "url": "/api/Profile/Education",
                        "dataSrc": ""

                    },
                    "columns": [

                        { "data": "startDate" },
                        { "data": "endDate" },
                        { "data": "level" },
                        { "data": "collegeName" },
                        { "data": "address" },
                        { "data": "collegeDetail" },

                         {
                             "data": "status",
                             "render": function (data, type, row, meta) {
                                 if (row.status == 0) {
                                     return '<button class="btn btn-success" onclick="previewEducation(' + row.id + ')">Show</button>'
                                 }
                                 else {
                                     return '<button class="btn btn-dark" onclick="hideEducation(' + row.id + ')">Hide<b>';
                                 }
                             }
                         },
                        {
                            "data": "null",
                            "render": function (data, type, row, meta) {
                                return '<button class="btn btn-primary" onclick="editEducation(' + row.id + ')">Edit</button><button class="btn btn-danger"onclick="deleteEducation(' + row.id + ')">Delete</button>'
                            }
                        }
                    ]
                });
            },
            error: function (response) {
            }
        });
    });

    function saveeducation() {
        var startDate = $('#startDateId').val();
        var leaveDate = $('#leaveDateId').val();
        var level = $('#levelId').val();
        var collegeName = $('#collegeNameId').val();
        var collegeAddress = $('#collegeAddressId').val();
        var collegeIntroduction = $('#collegeIntroductionId').val();

        var result = checkValues(startDate,leaveDate,level,collegeName,collegeAddress,collegeIntroduction);
        if (result == "fail") {
            return false;
        }

        var values = {
            StartDate: startDate,
            EndDate: leaveDate,
            level: level,
            collegeName: collegeName,
            Address: collegeAddress,
            collegeDetail:collegeIntroduction,
        };

        $.ajax({
            url: '/education/Inserteducation',
            type: 'post',
            data: { educationModel: values },
            success: function (response) {
                if (response == "success") {
                    $.ajax({
                        type: 'get',
                        url: '/api/Profile/Education',
                        success: function (response) {
                            dataSource = response;
                            toastr.success("successfully added");
                            $('#education').DataTable().ajax.reload();
                            $('#educationModel').modal('toggle');
                        }
                    });
                }
                else {

                }
            },
            error: function (response) {

            }

        });
    }

    function saveEditEducation(id) {
        var datas = $.grep(dataSource, function (e) {
            return e.id == id;
        });

        var startDate = $('#startDateId').val();
        var leaveDate = $('#leaveDateId').val();
        var level = $('#levelId').val();
        var collegeName = $('#collegeNameId').val();
        var collegeAddress = $('#collegeAddressId').val();
        var collegeIntroduction = $('#collegeIntroductionId').val();


        if (startDate == datas[0].startDate && leaveDate == datas[0].leaveDate && level==datas[0].level &&
            collegeName == datas[0].collegeName && collegeAddress == datas[0].address && collegeIntroduction == datas[0].collegeIntroduction)
        {
            $('#educationModel').modal('toggle');
            return false;
        }

        var result = checkValues(startDate, leaveDate, level, collegeName, collegeAddress, collegeIntroduction);
        if (result == "fail") {
            return false;
        }

        var values = {
            Id:id,
            StartDate: startDate,
            EndDate: leaveDate,
            level: level,
            collegeName: collegeName,
            Address: collegeAddress,
            collegeDetail: collegeIntroduction,
        };
        $.ajax({
            type: 'put',
            url: '/Education/UpdateEducation',
            data: { educationModel: values },
            success: function (response) {
                if (response == "success") {
                    $.ajax({
                        type: 'get',
                        url: '/api/Profile/Education',
                        success: function (response) {
                            dataSource = response;
                            toastr.success("successfully updated");
                            $('#education').DataTable().ajax.reload();
                            $('#educationModel').modal('toggle');
                        }
                    });
                }
            },
            error: function (response) {
                alert(response);
            }

        });
    }

    function editEducation(id) {
        $('#educationModel').modal('toggle');
        $("#modalTitle").text("Edit Education");

        var datas = $.grep(dataSource, function (e) {
            return e.id == id;
        });

        $('#startDateId').val(datas[0].startDate);
        $('#leaveDateId').val(datas[0].endDate);
        $('#levelId').val(datas[0].level);
        $('#collegeNameId').val(datas[0].collegeName);
        $('#collegeAddressId').val(datas[0].address);
        $('#collegeIntroductionId').val(datas[0].collegeDetail);
        var functionName = "saveEditEducation(" + id + ")";
        $("#saveBtnId").attr("onclick", functionName);
    }

    function deleteEducation(id) {
        bootbox.confirm("Are you sure?", function (result) {
            if (result) {
                $.ajax({
                    url: '/education/DeleteEducation',
                    type: 'delete',
                    data: { id: id },
                    success: function (response) {
                        if (response == "success") {
                            $.ajax({
                                type: 'get',
                                url: '/api/Profile/Education',
                                success: function (response) {
                                    dataSource = response;
                                    toastr.success("successfully deleted");
                                    $('#education').DataTable().ajax.reload();
                                }
                            });
                        }
                        else {
                            toastr.error("cannot delete the active one");
                        }
                    },
                    error: function (response) {
                        alert(response);
                    }

                });
            }
        });
    }

    //call to hide or Preview the skill
    function previewEducation(id) {
        $.ajax({
            type: 'put',
            url: '/education/PreviewEducation',
            data: { id: id },
            success: function (response) {
                if (response == "success") {
                    toastr.success("successfully activated");
                    $('#education').DataTable().ajax.reload();
                }
            },
            error: function (response) {
                alert("error");
            }

        });
    }

    function hideEducation(id) {
        $.ajax({
            type: 'put',
            url: '/education/HideEducation',
            data: { id: id },
            success: function (response) {
                if (response == "success") {
                    toastr.warning("successfully deactivated");
                    $('#education').DataTable().ajax.reload();
                }
            },
            error: function (response) {
                alert("error");
            }

        });
    }

    function addEducation() {
        var functionName = "saveeducation()";
        $("#saveBtnId").attr("onclick", functionName);
        $("#modalTitle").text("Add Education");
        $('#educationModel').modal('toggle');
    }

    function checkValues(startDate, leaveDate, level, collegeName, collegeAddress, collegeIntroduction) {

        var checkStartDate = 0;
        var checkLeaveDate = 0;
        var checkLevel = 0;
        var checkCollegeName = 0;
        var checkCollegeAddress = 0;
        var checkCollegeIntroduction = 0;

        if (startDate == "") {
            checkStartDate = 1;
            $('#startDateError').text("Required");
        }
        if (leaveDate == "") {
            checkLeaveDate = 1;
            $("#leaveDateError").text("Required");
        }
        if (level == "") {
            checklevel = 1;
            $("#levelError").text("Required");
        }
        if (collegeName == "") {
            checkcollegeName = 1;
            $("#collegeNameError").text("Required");
        }
        if (collegeAddress == "") {
            checkcollegeAddress = 1;
            $("#collegeAddressError").text("Required");
        }
        if (collegeIntroduction == "") {
            checkcollegeIntroduction = 1;
            $("#collegeIntroductionError").text("Required");
        }
        return true;
    }

</script>



