
@{
    ViewBag.Title = "Work";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!--inline CSS-->
<style>
    textarea {
        resize: none;
    }

    #margin-top {
        margin-top: 10px;
    }
</style>

<!--on the case of Modal close-->
<script>
    $(document).ready(function () {
        $('#workModal').on('hidden.bs.modal', function () {
            $("#image1Id").replaceWith($("#image1Id").val('').clone(true));
            $('#image1View').attr('src', "#").width(80).height(80);
            $('#title1Id').val("");
            $('#image1Error').text("");
            $('#title1Error').text("");

            $("#image2Id").replaceWith($("#image2Id").val('').clone(true));
            $('#image2View').attr('src', "#").width(80).height(80);
            $('#title2Id').val("");
            $('#image2Error').text("");
            $('#title2Error').text("");

            $("#image3Id").replaceWith($("#image3Id").val('').clone(true));
            $('#image3View').attr('src', "#").width(80).height(80);
            $('#title3Id').val("");
            $('#image3Error').text("");
            $('#title3Error').text("");

            $("#image4Id").replaceWith($("#image4Id").val('').clone(true));
            $('#image4View').attr('src', "#").width(80).height(80);
            $('#title4Id').val("");
            $('#image4Error').text("");
            $('#title4Error').text("");

            $("#image5Id").replaceWith($("#image5Id").val('').clone(true));
            $('#image5View').attr('src', "#").width(80).height(80);
            $('#title5Id').val("");
            $('#image5Error').text("");
            $('#title5Error').text("");
            var checkImage1 = 0;
            var checkImage2 = 0;
            var checkImage3 = 0;
            var checkImage4 = 0;
            var checkImage5 = 0;
        });

        $("#image1Id").on('input', function () {
            $('#image1Error').text("");
        });

        $("#image2Id").on('input', function () {
            $('#image2Error').text("");
        });

        $("#image3Id").on('input', function () {
            $('#image3Error').text("");
        });

        $("#image4Id").on('input', function () {
            $('#image4Error').text("");
        });

        $("#image5Id").on('input', function () {
            $('#image5Error').text("");
        });

        $("#title1Id").on('input', function () {
            $('#title1Error').text("");
        });

        $("#title2Id").on('input', function () {
            $('#title2Error').text("");
        });

        $("#title3Id").on('input', function () {
            $('#title3Error').text("");
        });

        $("#title4Id").on('input', function () {
            $('#title4Error').text("");
        });

        $("#title5Id").on('input', function () {
            $('#title5Error').text("");
        });


        $.ajax({
            url: '/Work/RemoveFiles',
            success: function () {
            },
            error: function () {
                alert("error");
            }
        });

    });
</script>

<button type="button" class="btn btn-info" onclick="addWork();" style="margin-left:5px; ">Add</button>

<!-- Modal -->
<div class="modal fade" id="workModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="modalTitle">Add Work</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-2">
                        <img id="image1View" src="#" />
                    </div>
                    <div class="col-md-10">
                        <input type="file" id="image1Id" onchange='UploadTempImage1(this)' />
                        <span class="text-danger" id="image1Error"></span>
                    </div>
                </div>

                <div class="row" id="margin-top">
                    <div class="col-md-2">
                        @Html.Label("Title")
                    </div>
                    <div class="col-md-10">
                        <textarea rows="3" id="title1Id" class="form-control"></textarea>
                        <span class="text-danger" id="title1Error"></span>
                    </div>
                </div>

                <div class="row" id="margin-top">
                    <div class="col-md-2">
                        <img id="image2View" src="#" />
                    </div>
                    <div class="col-md-10">
                        <input type="file" id="image2Id" onchange='UploadTempImage2(this)' />
                        <span class="text-danger" id="image2Error"></span>
                    </div>
                </div>

                <div class="row" id="margin-top">
                    <div class="col-md-2">
                        @Html.Label("Title")
                    </div>
                    <div class="col-md-10">
                        <textarea rows="3" id="title2Id" class="form-control"></textarea>
                        <span class="text-danger" id="title2Error"></span>
                    </div>
                </div>

                <div class="row" id="margin-top">
                    <div class="col-md-2">
                        <img id="image3View" src="#" />
                    </div>
                    <div class="col-md-10">
                        <input type="file" id="image3Id" onchange='UploadTempImage3(this)' />
                        <span class="text-danger" id="image3Error"></span>
                    </div>
                </div>

                <div class="row" id="margin-top">
                    <div class="col-md-2">
                        @Html.Label("Title")
                    </div>
                    <div class="col-md-10">
                        <textarea rows="3" id="title3Id" class="form-control"></textarea>
                        <span class="text-danger" id="title3Error"></span>
                    </div>
                </div>

                <div class="row" id="margin-top">
                    <div class="col-md-2">
                        <img id="image4View" src="#" />
                    </div>
                    <div class="col-md-10">
                        <input type="file" id="image4Id" onchange='UploadTempImage4(this)' />
                        <span class="text-danger" id="image4Error"></span>
                    </div>
                </div>

                <div class="row" id="margin-top">
                    <div class="col-md-2">
                        @Html.Label("Title")
                    </div>
                    <div class="col-md-10">
                        <textarea rows="3" id="title4Id" class="form-control"></textarea>
                        <span class="text-danger" id="title4Error"></span>
                    </div>
                </div>

                <div class="row" id="margin-top">
                    <div class="col-md-2">
                        <img id="image5View" src="#" />
                    </div>
                    <div class="col-md-10">
                        <input type="file" id="image5Id" onchange='UploadTempImage5(this)' />
                        <span class="text-danger" id="image5Error"></span>
                    </div>
                </div>

                <div class="row" id="margin-top">
                    <div class="col-md-2">
                        @Html.Label("Title")
                    </div>
                    <div class="col-md-10">
                        <textarea rows="3" id="title5Id" class="form-control"></textarea>
                        <span class="text-danger" id="title5Error"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="saveBtnId" onclick="saveWork();">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- Modal content-->

    </div>
</div>
<!--Modal-->

<div>
    <table id="work" class="display">
        <thead>
            <tr>
                <th>Image1</th>
                <th>Title1</th>
                <th>Image2</th>
                <th>Title2</th>
                <th>Image3</th>
                <th>Title3</th>
                <th>Image4</th>
                <th>Title4</th>
                <th>Image5</th>
                <th>Title5</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
</div>


<script>
    var dataSource = [];
    var extensionName = [];
    var checkImage1 = 0;
    var checkImage2 = 0;
    var checkImage3 = 0;
    var checkImage4 = 0;
    var checkImage5 = 0;

    jQuery(function ($) {
        $.ajax({
            type: 'get',
            url: '/api/Profile/Work',
            success: function (response) {
                dataSource = response;
                $('#work').DataTable({
                    "ajax": {
                        "url": "/api/Profile/Work",
                        "dataSrc": ""

                    },
                    "columns": [
                         {
                             "data": "image1",
                             "render": function (data, type, row, meta) {
                                 return '<img src="../Images/WorkImages/' + row.image1 + '?' + new Date().getTime() + '" width = "70" height = "70">'
                             }
                         },
                        { "data": "title1" },
                        {
                            "data": "image2",
                            "render": function (data, type, row, meta) {
                                return '<img src="../Images/WorkImages/' + row.image2 + '?' + new Date().getTime() + '" width = "70" height = "70">'
                            }
                        },
                        { "data": "title2" },
                         {
                             "data": "image3",
                             "render": function (data, type, row, meta) {
                                 return '<img src="../Images/WorkImages/' + row.image3 +'?' + new Date().getTime() + '" width = "70" height = "70">'
                             }
                         },
                        { "data": "title3" },
                         {
                             "data": "image4",
                             "render": function (data, type, row, meta) {
                                 return '<img src="../Images/WorkImages/' + row.image4 + '?' + new Date().getTime() + '" width = "70" height = "70">'
                             }
                         },
                        { "data": "title4" },
                         {
                             "data": "image5",
                             "render": function (data, type, row, meta) {
                                 return '<img src="../Images/WorkImages/' + row.image5 + '?' + new Date().getTime() + '" width = "70" height = "70">'
                             }
                         },
                        { "data": "title5" },
                        {
                            "data": "status",
                            "render": function (data, type, row, meta) {
                                if (row.status == 0) {
                                    return '<button class="btn btn-success" onclick="activeWork(' + row.id + ')">Activate</button>'
                                }
                                else {
                                    return '<b class="text-success">Active<b>';
                                }
                            }
                        },
                        {
                            "data": "null",
                            "render": function (data, type, row, meta) {
                                return '<button class="btn btn-primary" onclick="editWork(' + row.id + ')">Edit</button><button class="btn btn-danger"onclick="deleteWork(' + row.id + ')">Delete</button>'
                            }
                        }
                    ]
                });
            },
            error: function (response) {
            }
        });
    });

    function saveWork() {
        var checkTitle1 = 0;
        var checkTitle2 = 0;
        var checkTitle3 = 0;
        var checkTitle4 = 0;
        var checkTitle5 = 0;

        var title1 = $('#title1Id').val();
        var title2 = $('#title2Id').val();
        var title3 = $('#title3Id').val();
        var title4 = $('#title4Id').val();
        var title5 = $('#title5Id').val();

        if (title1 == "") {
            checkTitle1 = 1;
            $("#title1Error").text("Required");
        }

        if (title2 == "") {
            checkTitle2 = 1;
            $("#title2Error").text("Required");
        }

        if (title3 == "") {
            checkTitle3 = 1;
            $("#title3Error").text("Required");
        }

        if (title4 == "") {
            checkTitle4 = 1;
            $("#title4Error").text("Required");
        }

        if (title5 == "") {
            checkTitle5 = 1;
            $("#title5Error").text("Required");
        }

        if (checkImage1 == 0) {
            $('#image1Error').text("Required");
        }

        if (checkImage2 == 0) {
            $('#image2Error').text("Required");
        }

        if (checkImage3 == 0) {
            $('#image3Error').text("Required");
        }

        if (checkImage4 == 0) {
            $('#image4Error').text("Required");
        }

        if (checkImage5 == 0) {
            $('#image5Error').text("Required");
        }

        if (checkImage1 == 0 || checkImage2 == 0 || checkImage3 == 0 || checkImage4 == 0 || checkImage5 == 0
            || checkTitle1==1 || checkTitle2==1 || checkTitle3==1 || checkTitle4==1 || checkTitle5==1) {
            return false;
        }

        var extension1 = extensionName[0];
        var title1 = $('#title1Id').val();
        var extension2 = extensionName[1];
        var title2 = $('#title2Id').val();
        var extension3 = extensionName[2];
        var title3 = $('#title3Id').val();
        var extension4 = extensionName[3];
        var title4 = $('#title4Id').val();
        var extension5 = extensionName[4];
        var title5 = $('#title5Id').val();

       

        var values = {
            Image1: extension1,
            Image2: extension2,
            Image3: extension3,
            Image4: extension4,
            Image5: extension5,
            Title1: title1,
            Title2: title2,
            Title3: title3,
            Title4: title4,
            Title5: title5,
        };

        $.ajax({
            url: '/Work/InsertWork',
            type: 'post',
            data: { WorkModel: values },
            success: function (response) {
                if (response == "success") {
                    $.ajax({
                        type: 'get',
                        url: '/api/Profile/Work',
                        success: function (response) {
                            dataSource = response;
                            toastr.success("successfully added");
                            $('#work').DataTable().ajax.reload();
                            $('#workModal').modal('toggle');
                        }
                    });
                }
                else {

                }
            },
            error: function (response) {

            }

        });
    }

    function saveEditWork(id) {
        var datas = $.grep(dataSource, function (e) {
            return e.id == id;
        });

        if (checkImage1 == 2 && checkImage2 == 2 && checkImage3 == 2 && checkImage4 == 2 && checkImage5 == 2 && title1 == datas[0].title1
            && title2 == datas[0].title2 && title3 == datas[0].title3 && title4 == datas[0].title4 && title5 == datas[0].title5) {
            $('#workModal').modal('toggle');
            return false;
        }

        if (checkImage1 == 0) {
            $('#image1Error').text("Required");
        }

        if (checkImage2 == 0) {
            $('#image2Error').text("Required");
        }

        if (checkImage3 == 0) {
            $('#image3Error').text("Required");
        }

        if (checkImage4 == 0) {
            $('#image4Error').text("Required");
        }

        if (checkImage5 == 0) {
            $('#image5Error').text("Required");
        }


        var title1 = $('#title1Id').val();
        var title2 = $('#title2Id').val();
        var title3 = $('#title3Id').val();
        var title4 = $('#title4Id').val();
        var title5 = $('#title5Id').val();

        var result = checkValues(title1, title2, title3, title4, title5);
        if (result == "fail") {
            return false;
        }

        var check1 = "1"; //no change in 
        var check2 = "1";
        var check3 = "1";
        var check4 = "1";
        var check5 = "1";
        if (checkImage1 == 1) {
            check1 = "2"; //change in
        }

        if (checkImage2 == 1) {
            check2 = "2";
        }

        if (checkImage3 == 1) {
            check3 = "2";
        }

        if (checkImage4 == 1) {
            check4 = "2";
        }

        if (checkImage5 == 1) {
            check5 = "2";
        }

        var values = {
            Id: id,
            Image1: check1,
            Image2: check2,
            Image3: check3,
            Image4: check4,
            Image5: check5,
            Title1: title1,
            Title2: title2,
            Title3: title3,
            Title4: title4,
            Title5: title5,
        };
        $.ajax({
            type: 'put',
            url: '/Work/UpdateWork',
            data: { WorkModel: values },
            success: function (response) {
                if (response == "success") {
                    $.ajax({
                        type: 'get',
                        url: '/api/Profile/Work',
                        success: function (response) {
                            dataSource = response;
                            toastr.success("successfully updated");
                            $('#work').DataTable().ajax.reload();
                            $('#workModal').modal('toggle');
                        }
                    });
                }
            },
            error: function (response) {
                alert(response);
            }

        });
    }

    function editWork(id) {
        $('#workModal').modal('toggle');
        $("#modalTitle").text("Edit Work");

        var datas = $.grep(dataSource, function (e) {
            return e.id == id;
        });
        var source1 = "../Images/WorkImages/" + datas[0].image1 + '?' + new Date().getTime();
        $('#image1View').attr('src', source1).width(70).height(70);
        var source2 = "../Images/WorkImages/" + datas[0].image2 + '?' + new Date().getTime();
        $('#image2View').attr('src', source2).width(70).height(70);
        var source3 = "../Images/WorkImages/" + datas[0].image3 + '?' + new Date().getTime();
        $('#image3View').attr('src', source3).width(70).height(70);
        var source4 = "../Images/WorkImages/" + datas[0].image4 + '?' + new Date().getTime();
        $('#image4View').attr('src', source4).width(70).height(70);
        var source5 = "../Images/WorkImages/" + datas[0].image5 + '?' + new Date().getTime();
        $('#image5View').attr('src', source5).width(70).height(70);

        checkImage1 = 2;
        checkImage2 = 2;
        checkImage3 = 2;
        checkImage4 = 2;
        checkImage5 = 2;

        $('#title1Id').val(datas[0].title1);
        $('#title2Id').val(datas[0].title2);
        $('#title3Id').val(datas[0].title3);
        $('#title4Id').val(datas[0].title4);
        $('#title5Id').val(datas[0].title5);

        var functionName = "saveEditWork(" + id + ")";
        $("#saveBtnId").attr("onclick", functionName);
    }

    function UploadTempImage1(input) {
        var files = $("#image1Id").get(0).files;
        var image = new FormData();
        image.append('file', files[0]);
        var fileName = files[0].name;
        var extension = fileName.split('.').pop().toUpperCase();
        if (extension != "PNG" && extension != "JPG" && extension != "GIF" && extension != "JPEG") {
            checkImage1 = 0;
            $('#image1Error').text("Invalid image file format");
            return false;
        }
        else {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#image1View').attr('src', e.target.result).width(70).height(70);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
        extensionName.push(extension);

        $.ajax({
            url: '/Work/InsertWorkImage',
            type: 'post',
            contentType: false,
            processData: false,
            data: image,
            success: function (response) {
                if (response == "success") {
                    checkImage1 = 1;
                    $('#image1Error').text("");
                }
            },
            error: function (response) {

            }

        });
    }

    function UploadTempImage2(input) {
        var files = $("#image2Id").get(0).files;
        var image = new FormData();
        image.append('file', files[0]);
        var fileName = files[0].name;
        var extension = fileName.split('.').pop().toUpperCase();
        if (extension != "PNG" && extension != "JPG" && extension != "GIF" && extension != "JPEG") {
            checkImage2 = 0;
            $('#image2Error').text("Invalid image file format");
            return false;
        }
        else {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#image2View').attr('src', e.target.result).width(70).height(70);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
        extensionName.push(extension);

        $.ajax({
            url: '/Work/InsertWorkImage',
            type: 'post',
            contentType: false,
            processData: false,
            data: image,
            success: function (response) {
                if (response == "success") {
                    checkImage2 = 1;
                    $('#image2Error').text("");
                }
            },
            error: function (response) {

            }

        });
    }

    function UploadTempImage3(input) {
        var files = $("#image3Id").get(0).files;
        var image = new FormData();
        image.append('file', files[0]);
        var fileName = files[0].name;
        var extension = fileName.split('.').pop().toUpperCase();
        if (extension != "PNG" && extension != "JPG" && extension != "GIF" && extension != "JPEG") {
            checkImage3 = 0;
            $('#image3Error').text("Invalid image file format");
            return false;
        }
        else {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#image3View').attr('src', e.target.result).width(70).height(70);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
        extensionName.push(extension);

        $.ajax({
            url: '/Work/InsertWorkImage',
            type: 'post',
            contentType: false,
            processData: false,
            data: image,
            success: function (response) {
                if (response == "success") {
                    checkImage3 = 1;
                    $('#image3Error').text("");
                }
            },
            error: function (response) {

            }

        });
    }

    function UploadTempImage4(input) {
        var files = $("#image4Id").get(0).files;
        var image = new FormData();
        image.append('file', files[0]);
        var fileName = files[0].name;
        var extension = fileName.split('.').pop().toUpperCase();
        if (extension != "PNG" && extension != "JPG" && extension != "GIF" && extension != "JPEG") {
            checkImage4 = 0;
            $('#image4Error').text("Invalid image file format");
            return false;
        }
        else {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#image4View').attr('src', e.target.result).width(70).height(70);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
        extensionName.push(extension);

        $.ajax({
            url: '/Work/InsertWorkImage',
            type: 'post',
            contentType: false,
            processData: false,
            data: image,
            success: function (response) {
                if (response == "success") {
                    checkImage4 = 1;
                    $('#image4Error').text("");
                }
            },
            error: function (response) {

            }

        });
    }

    function UploadTempImage5(input) {
        var files = $("#image5Id").get(0).files;
        var image = new FormData();
        image.append('file', files[0]);
        var fileName = files[0].name;
        var extension = fileName.split('.').pop().toUpperCase();
        if (extension != "PNG" && extension != "JPG" && extension != "GIF" && extension != "JPEG") {
            checkImage5 = 0;
            $('#image5Error').text("Invalid image file format");
            return false;
        }
        else {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#image5View').attr('src', e.target.result).width(70).height(70);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
        extensionName.push(extension);

        $.ajax({
            url: '/Work/InsertWorkImage',
            type: 'post',
            contentType: false,
            processData: false,
            data: image,
            success: function (response) {
                if (response == "success") {
                    checkImage5 = 1;
                    $('#image5Error').text("");
                }
            },
            error: function (response) {

            }

        });
    }

    function deleteWork(id) {
        bootbox.confirm("Are you sure?", function (result) {
            if (result) {
                $.ajax({
                    url: '/Work/DeleteWork',
                    type: 'delete',
                    data: { id: id },
                    success: function (response) {
                        if (response == "success") {
                            $.ajax({
                                type: 'get',
                                url: '/api/Profile/Work',
                                success: function (response) {
                                    dataSource = response;
                                    toastr.success("successfully deleted");
                                    $('#work').DataTable().ajax.reload();
                                }
                            });
                        }
                        else {
                            toastr.error("cannot delete the active one");
                        }
                    },
                    error: function (response) {
                        alert(response);
                    }

                });
            }
        });
    }

    function activeWork(id) {
        bootbox.confirm("Are you sure?", function (result) {
            if (result) {
                $.ajax({
                    type: 'put',
                    url: '/Work/ActivateWork',
                    data: { id: id },
                    success: function (response) {
                        if (response == "success") {
                            $.ajax({
                                type: 'get',
                                url: '/api/Profile/Work',
                                success: function (response) {
                                    dataSource = response;
                                    toastr.success("successfully activated");
                                    $('#work').DataTable().ajax.reload();
                                }
                            });
                        }
                    },
                    error: function (response) {
                    }
                });
            }
        });
    }

    function addWork() {
        var functionName = "saveWork()";
        $("#saveBtnId").attr("onclick", functionName);
        $("#modalTitle").text("Add Work");
        $('#workModal').modal('toggle');
    }

    function checkValues(title1, title2, title3, title4, title5) {

        var checkTitle1 = 0;
        var checkTitle2 = 0;
        var checkTitle3 = 0;
        var checkTitle4 = 0;
        var checkTitle5 = 0;

        if (title1 == "") {
            checkTitle1 = 1;
            $("#title1Error").text("Required");
        }
        if (title2 == "") {
            checkTitle2 = 1;
            $("#title2Error").text("Required");
        }
        if (title3 == "") {
            checkTitle3 = 1;
            $("#title3Error").text("Required");
        }
        if (title4 == "") {
            checkTitle4 = 1;
            $("#title4Error").text("Required");
        }
        if (title5 == "") {
            checkTitle5 = 1;
            $("#title5Error").text("Required");
        }
       
        return true;
    }

</script>

